
body {
	font-size: 1em;
}

#wrapper {
	width:98%;
	margin: 0.3125em auto;
}
#breadcrumb {
	text-align:center;
}
#primarynav {
	  border-bottom:1px solid #fff;
    padding:5px;
    margin:2px;
	float:left;
	margin: 5px;
}
.subpage {
	padding: 3px 6px;
	display: inline-block;
	margin: 1px 3px;
	background: white;
	background-size: auto;
}
.secondary-bg {
	background-color: #f4f4f4;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-bottom-width: 0;
	margin: 10px;
}
.main-column-width {
	width: 200px;
}
#content {
	float:left;
	min-width:200px;
	max-width:560px;
	width:100%;
	display: block;
}
#locations {
	float:left;
	border-bottom:500px solid #fff;
    padding:25px;
    margin:2px;
	

}
.block {

	float:left;
	width:175px;
	color: blue;
	margin: 3px;
	
}
.block h3 {

	text-transform: lowercase;
	text-align:center;
	color:blue;
	padding: 5px;
	border: 1px solid #F0F0F0;
	background-color: #F0F0F0;
	
}
.block li {
	float:left;
	min-width:65px;
}
